# Copie para keystore.properties (não commitar) e gere o keystore:
#
# keytool -genkey -v -keystore release.jks -keyalg RSA -keysize 2048 \
#   -validity 10000 -alias transparencia -storepass SUA_SENHA -keypass SUA_SENHA \
#   -dname "CN=Transparencia Caninde, OU=Dev, O=Caninde, L=Caninde, ST=CE, C=BR"
#
storeFile=release.jks
storePassword=SUA_SENHA
keyAlias=transparencia
keyPassword=SUA_SENHA
